<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true" throwExceptions="true"
>
	<targets async="true">
		<target name="LogConsole" xsi:type="ColoredConsole" layout="${MicrosoftConsoleLayout}">
			<highlight-word condition="level == LogLevel.Info" text="info" foregroundColor="cyan" />
			<highlight-word condition="level == LogLevel.Error" text="error" foregroundColor="red" />
			<highlight-word condition="level == LogLevel.Warn" text="warn" foregroundColor="yellow" />
		</target>
	</targets>
	<rules>
		<logger name="*" minLevel="Info" writeTo="LogConsole" />
	</rules>
</nlog>
